#banner{
    display:flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    margin: 20px;
}
banner{
    width: 90%;
    display: flex;
    font-family: Arial, sans-serif;
    background-color: rgb(87, 87, 109);
    border-radius: 5px;
    overflow: hidden;
}
#banner img {
    height: 100%;
    width: 60%;
    overflow: hidden;
}
#banntext{
    color:white;
    margin: 20px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(87, 87, 109);
}
#banntext h1{
    background-color: rgb(87, 87, 109);
    display: flex;
    justify-content: center;
}